* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: NeoSans_Bold;
    src: url('../Fonts/neo_sans_bold.ttf');
}

@font-face {
    font-family: Gotham_Black;
    src: url('../Fonts/Gotham_Black.ttf');
}

@font-face {
    font-family: Gotham_Medium;
    src: url('../Fonts/GothamMedium.ttf');
}

@font-face {
    font-family: NeoSans_Italic;
    src: url('../Fonts/Neo_Sans_Italic.ttf');
}

@font-face {
    font-family: Gotham_Light;
    src: url('../Fonts/GothamLight.ttf');
}

body, html {
    overflow-x: hidden;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
     scroll-behavior: smooth;
}

.Navbar-Brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white;
}

.Navbar-Brand img {
    width: 9%;
    margin: -30px 0;
}

.Banner-section {
    background-color: #3A1799;
    margin: auto;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.Banner-section h1 {
    font-family: 'Gotham_Black';
    color: white;
    letter-spacing: 0.03em;
    font-size: calc(32pt + 0.15vw);
    text-transform: uppercase;
}

.Banner-section h2 {
    font-family: 'Gotham_Medium';
    color: white;
    letter-spacing: 0.03em;
    font-size: calc(22pt + 0.15vw);
    text-transform: uppercase;
}

.Banner-section h4 {
    font-family: 'Gotham_Medium';
    color: #23B030;
    letter-spacing: 0.03em;
    line-height: 1.6195;
    font-size: calc(16pt + 0.15vw);
    text-transform: uppercase;
}

.Banner-section form input {
    outline: none;
    border: none;
    padding: 5px 18px 5px 18px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'NeoSans_Italic';
    letter-spacing: 0.03em;
    font-size: calc(12pt + 0.15vw);
}

.Banner-section form button {
    border: none;
    outline: none;
    padding: 5px 18px 5px 18px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: 'Gotham_Medium';
    letter-spacing: 0.03em;
    background-color: #23B030;
    color: #fff;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: calc(12pt + 0.15vw);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    border: 1px solid #23B030;
}

.Banner-section form button:hover {
    background-color: white;
    color: black;
    border: 1px solid #23B030;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

@media screen and (max-width: 1080px) {
    .Navbar-Brand img {
        width: 20%;
        margin: -35px 0;
    }
}

@media screen and (max-width: 640px) {
    .Navbar-Brand img {
        width: 25%;
        margin: -25px 0;
    }
}

@media screen and (max-width: 538px) {
    .Navbar-Brand img {
        width: 35%;
        margin: -25px 0;
    }
}

@media screen and (min-width: 1920px) {
    .Navbar-Brand img {
        width: 5%;
    }
}

.searh-records-section {
    padding: 30px 0 30px 0;
    background-color: #8080801c;
}

.searh-records-section .col-form-sm {
    text-align: center;
}

.searh-records-section h2 {
    color: #3A1799;
    font-family: 'NeoSans_Bold';
    letter-spacing: 0.03em;
    font-size: calc(22pt + 0.15vw);
}

.col-form-sm input {
    border: 2px solid #3A1799;
    outline: none;
    width: 50%;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'NeoSans_Italic';
    letter-spacing: 0.03em;
    font-size: calc(12pt + 0.15vw);
}

.well {
    background-color: white;
    margin: 20px 10px 20px 10px;
    padding: 15px 15px 15px 15px;
}


.well p {
    font-family: 'Gotham_Light';
    letter-spacing: 0.03em;
    font-size: calc(12pt + 0.15vw);
}

.col-form-sm button {
    border: none;
    outline: none;
    padding: 5px 18px 5px 18px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: 'Gotham_Medium';
    letter-spacing: 0.03em;
    background-color: #3A1799;
    color: #fff;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: calc(12pt + 0.15vw);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.col-form-sm button:hover {
    background-color: white;
    color: black;
    border: 1px solid #3A1799;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

@media screen and (max-width: 1080px) {
    .well {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 35%;
        flex: 1 0 35%;
    }
}

@media screen and (max-width: 768px) {
    .col-form-sm input {
        width: 70%;
    }
}

@media screen and (max-width: 640px) {
    .well {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
    }
}

@media screen and (max-width: 538px) {
    .col-form-sm {
        padding: 0px 10px 0px 10px;
    }
    .col-form-sm input {
        width: 100%;
    }
}

.Brands-Section {
    width: 100vw;
    padding: 40px 0px 40px 0px;
    height: auto;
}

.Brands-Section h2 {
    color: #3A1799;
    font-family: 'NeoSans_Bold';
    letter-spacing: 0.03em;
    font-size: calc(22pt + 0.15vw);
}

/* Marquee starts here */

.Marquee {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    font-weight: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.Marquee-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    animation: marquee 12s linear infinite running;
    -webkit-animation: marquee 12s linear infinite running;
}

.Marquee-content:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.Marquee-tag {
    width: 200px;
    margin: 0 .5em;
    padding: .5em;
    background: rgba(255, 255, 255, .1);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.Marquee-tag img {
    width: 65%;
}

.Marquee-tag:hover {
    background: rgba(255, 255, 255, .5);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}

/* Marquee ends here */

.eligibility-section {
    background-color: #3A1799;
    padding: 50px 0px 40px 0px;
    text-align: center;
}

.eligibility-section h3 {
    font-family: 'Gotham_Black';
    color: white;
    letter-spacing: 0.03em;
    font-size: calc(18pt + 0.15vw);
    text-transform: uppercase;
}

.eligibility-section form input {
    outline: none;
    border: none;
    padding: 5px 18px 5px 18px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'NeoSans_Italic';
    letter-spacing: 0.03em;
    font-size: calc(12pt + 0.15vw);
}

.eligibility-section form button {
    border: none;
    outline: none;
    padding: 5px 18px 5px 18px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: 'Gotham_Medium';
    letter-spacing: 0.03em;
    background-color: #23B030;
    color: #fff;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: calc(12pt + 0.15vw);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    border: 1px solid #23B030;
}

.eligibility-section form button:hover {
    background-color: white;
    color: black;
    border: 1px solid #23B030;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.bank-partners-section {
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.bank-partners-section h2 {
    font-family: 'NeoSans_Bold';
    color: #3A1799;
    letter-spacing: 0.03em;
    font-size: calc(22pt + 0.15vw);
}

/* Marquee starts here */

.Marquee-2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    font-weight: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.Marquee-content-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    animation: marquee 12s linear infinite running;
    -webkit-animation: marquee2 12s linear infinite running;
}

.Marquee-content-2:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.Marquee-tag-2 {
    width: 200px;
    margin: 0 .5em;
    padding: .5em;
    background: rgba(255, 255, 255, .1);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.Marquee-tag-2 img {
    width: 65%;
}

.Marquee-tag-2:hover {
    background: rgba(255, 255, 255, .5);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

@-webkit-keyframes marquee2 {
    0% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

/* Marquee ends here */

.container .well {
    background-image: url('../Assets/Cards-Bg/gray-abstract-wireframe-technology-background.jpg');
    background-size: cover;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.container .well:hover {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    cursor: pointer;
}

@media screen and (max-width: 538px) {
    h2 {
        font-size: calc(18pt + 0.15vw) !important;
    }
    .Banner-section h4 {
        font-size: calc(12pt + 0.15vw) !important;
    }
    .Banner-section h1 {
        font-size: calc(28pt + 0.15vw) !important;
    }
    .Marquee-tag {
        width: 145px !important;
    }
    .Marquee-tag-2 {
        width: 145px !important;
    }
    .eligibility-section h3 {
        font-size: calc(14pt + 0.15vw) !important;
    }
    input{
        font-size: calc(11pt + 0.15vw) !important;
    }
    button{
        font-size: calc(11pt + 0.15vw) !important;
    }
}
